@font-face{
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
  html{
    font-kerning: none;
    -webkit-font-smoothing: antialiased;
    font-size: 0.5787037037vw;
    vertical-align: baseline;
    font-family: 'Inter', sans-serif;
  }
  :root{
    --cl-black: #1D1D1D;
    --cl-black-80: #1D1D1DCC;
    --cl-orange: #FF5733;
    --cl-white: #FFFFFF;
    --cl-grey: #F5F5F5;
    --cl-border: rgba(29, 29, 29, 0.20);
  }
  body{
    color: var(--cl-black);
    font-family: "Poppins";
  }
  .btn{ 
    padding: 2.4rem 3.2rem;
    border-radius: 1rem;
  }
  .btn .txt {
    line-height: 1em;
  }
  .btn-orange{
    background-color: var(--orange);
    color: var(--cl-white);
  }
  .btn-white{
    background-color: var(--cl-white);
    color: var(--cl-black);
  }
  .btn-ouline{
    border: 1px solid var(--cl-black);
    color: var(--cl-black);
  }
  .heading{
    font-weight: 500;
    letter-spacing: -.02em;
    font-family: "Urbanist";
  }
  .txt{
    margin-inline: 0;
  }
  .txt-12{
    font-size: 1.2rem;
  }
  .txt-14{
    font-size: 1.4rem;
  }
  .txt-16{
    font-size: 1.6rem;
  }
  .txt-18{
    font-size: 1.8rem;
  }
  .txt-20{
    font-size: 2rem;
  }
  .txt-24{
    font-size: 2.4rem;
  }
  .txt-28{
    font-size: 2.8rem;
  }
  .heading.h0{
    font-size: 9rem;
    line-height: 1em;
  }
  .heading.h1{
    font-size: 6.4rem;
    line-height: 1em;
  }
  .heading.h2{
    font-size: 5.4rem;
    line-height: 1em;
  }
  .heading.h3{
    font-size: 4.4rem;
    line-height: 1.2em;
  }
  .heading.h4{
    font-size: 3.2rem;
    line-height: 1.2em;
  }
  .heading.h5{
    font-size: 2.4rem;
    line-height: 1.2em;
  }
  .heading.h6{
    font-size: 2rem;
    line-height: 1.2em;
  }
  .ic-embed{
    width: 100%;
    display: flex;
  }
  .label-gr{
    border-radius: 3rem;
    padding: 0.4rem 1.2rem .4rem .8rem;
    gap: 0.8rem;
    display: flex;
    align-items: center;
  }
  .hover-un{
    position: relative;
  }
  html.lenis, html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .hover-arr:hover .ic-arr-main {
    transform: translateX(100%);
    transition: transform .4s ease;
  }
  .hover-arr:hover .ic-arr-clone {
    transform: translateX(0%);
    transition: transform .4s ease;
  }
  .hover-un .line-inner-hover {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .6s ease;
  }
  .hover-un .hover-un-inner:nth-child(2) .line-inner-hover {
    transition-delay: .1s;
    transition-duration: .5s;
  }
  .hover-un:hover .line-inner-hover {
    transform: scaleX(1);
    transform-origin: left;
  }
  .container{
    max-width: 2560px;
    margin-inline: auto;
    padding-inline: 8rem;
  }
.grid{
  display: grid;
  grid-template-columns: repeat(12, minmax(1px, 1fr));
  grid-auto-columns: minmax(1px, 1fr);
  grid-column-gap: 2.4rem;
}