.cursor {
  z-index: 999;
  pointer-events: none;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: fixed;
  inset: 0%;
  &_main{
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    display: flex;
    position: relative;
  }
  &_inner{
    opacity: 0;
    border-radius: 50%;
    flex: none;
    background-color: var(--cl-orange);
    justify-content: center;
    align-items: center;
    width: .8rem;
    height: .8rem;
    transition: all .4s;
    display: flex;
    position: absolute;
    &.active{
      opacity: 1;
    }
  }
}